<!doctype html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/style.css">

    <script src="wasm/pkg/geonft_wasm.js" defer></script>
    <script src="js/wasm-init.js" defer></script>

    {% block scripts %}
    {% endblock scripts %}

  </head>

  <body>
    {% block body %}
    {% endblock body %}
  </body>

</html>
