:root {
    box-sizing: border-box;
}


/* fonts */

* {
    font-size: 1rem;
    font-family: monospace;
    font-weight: normal;
    line-height: normal;
    text-decoration: none;
}

h1, h2 {
    font-weight: bold;
}


/* colors */

* {
    color: black;
    border-color: black;
}

a {
    color: skyblue;
}


/* layout */

* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 1rem;
}

section {
    border-width: 2px;
    border-style: solid;
    margin: 1rem;
}

section {
    max-width: 80ch;
    margin-left: auto;
    margin-right: auto;
}

p, h1, h2 {
    margin: 1rem;    
}

header h1 {
    text-align: right;
}

ul {
    padding-left: 1rem;
}

li {
    margin: 1rem;
}

input {
    padding: 1rem;
}
