:root {
    box-sizing: border-box;
}



/* fonts */

* {
    font-size: 1rem;
    font-family: monospace;
    font-weight: inherit;
    line-height: normal;
    text-decoration: none;
}

a,
h1, h2 {
    font-weight: bold;
}

input,
span.file-input {
    font-weight: bold;
}

h1, h2,
a,
input,
span.file-input {
    letter-spacing: 0.1em;
}


/* colors */

* {
    color: inherit;
    border-color: black;
    --action-color: hsl(300, 75%, 75%);
    --action-color-dark: hsla(300, 50%, 40%, 100%);
}

body {
    background-color: white;
}

a {
    background-color: var(--action-color);
    color: white;
    padding: 0.1em 0.4em 0.1em 0.4em;
    border-color: rgba(0, 0, 0, 25%);
}

input,
span.file-input {
    background-color: var(--action-color);
    color: white;
    border-color: var(--action-color-dark);
}

a,
input,
span.file-input {
    text-shadow:
        0px 0px 1px hsla(300, 50%, 0%, 100%),
        0px 0px 2px hsla(300, 50%, 50%, 100%),
        0px 0px 2px hsla(300, 100%, 50%, 100%);
}



/* layout */

* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 1rem;
}

section {
    margin: 1rem;
}

section {
    max-width: 80ch;
    margin-left: auto;
    margin-right: auto;
}

p, h1, h2 {
    margin: 1rem;    
}

header h1 {
    text-align: right;
}

ul {
    padding-left: 1rem;
}

li {
    margin: 1rem;
}

input,
span.file-input {
    padding: 1rem;
}




/* special file input button handling */
/* ala https://stackoverflow.com/a/25825731 */

span.file-input {
    display: inline-block;
}

input[type="file"] {
    display: none;
}



/* borders */

* {
    border-width: 0;
    border-style: solid;
}

a,
section,
input,
span.file-input {
    border-width: 2px;
}


/* interaction */

a,
input:hover,
span.file-input:hover {
    cursor: pointer;
}
