* {
    font-size: 1rem;
    font-family: monospace;
    font-weight: normal;
    line-height: normal;
}

:root {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 1rem;
}

section {
    border: 2px solid black;
    margin: 1rem;
}

section {
    max-width: 80ch;
    margin-left: auto;
    margin-right: auto;
}

p, h1, h2 {
    margin: 1rem;    
}

h1, h2 {
    font-weight: bold;
}

header h1 {
    text-align: right;
}
