{% extends "lib/base" %}


{% block title %}

Claim a Treasure

{% endblock title %}


{% block scripts %}

<script src="js/claim.js" defer></script>

{% endblock scripts %}


{% block body %}

<section>

  <p>claim</p>

</section>

{% endblock body %}
