{% extends "lib/base" %}

{% block body %}

<ul>
  <li><a href="create">create</a> a new treasure key (QR code)
  <li><a href="plant">plant</a> your treasure with its key
  <li><a href="claim">claim</a> claim a planted treasure
</ul>

{% endblock body %}
