{% extends "lib/base" %}


{% block title %}

Actions Menu

{% endblock title %}


{% block scripts %}
{% endblock scripts %}


{% block body %}

<section>
  <ul>
    <li><a href="create">create</a> a new treasure key (QR code)
    <li><a href="plant">plant</a> a treasure with its key
    <li><a href="claim">claim</a> a planted treasure
  </ul>
</section>

{% endblock body %}
