{% extends "lib/base" %}


{% block title %}

Recently Planted Treasure

{% endblock title %}

{% block scripts %}
{% endblock scripts %}


{% block body %}

{% for treasure in treasures %}

{% include "partials/treasure" %}

{% endfor %}

{% endblock body %}
